.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  height: calc(100% - 6rem);
  width: 100%;
}

.content figcaption, .content p {
  color: #272838;
  font-family: "Microsoft Sans Serif", sans-serif;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.responsive {
  max-width: 100%;
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.imgbtnbtn {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.imgbtn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgbtn button {
  padding: 0;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imgbtn button:hover {
  cursor: zoom-in;
  background-color: #f9f8f8;
  color: #272838;
}

.imgbtn p {
  font-size: 1rem;
  padding-top: 0.25rem;
}

.nav-button {
  height: 100%;
  font-family: "Microsoft Sans Serif", sans-serif;
  font-size: 3rem;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: #f9f8f8;
  color: #272838;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.homepage img {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (min-width: 650px) {
  .button-container .nav-button:hover {
    color: #f9f8f8;
    background-color: #7e7f9a;
  }  
}