.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Microsoft Sans Serif", sans-serif;
}

.container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  text-decoration: none;
  color: #272838;
  font-size: 2rem;
  background-color: #f9f8f8;
  cursor: context-menu;
}

.list {
  z-index: 10;
  list-style-type: none;
  flex-direction: column;
  align-items: stretch;
  display: none;
  position: absolute;
  background-color: #f9f8f8;
  right: 0;
  top: 4rem;
  box-shadow: 3px 3px 3px #888888;
}

.list a {
  font-family: "Microsoft Sans Serif", sans-serif;
  text-decoration: none;
  color: inherit;
  padding: 0.75rem;
}

.list a:focus {
  text-decoration: none;
  color: #f9f8f8;
  background-color: #7e7f9a;
}

.container button:focus {
  text-decoration: none;
  color: inherit;
  color: #f9f8f8;
  background-color: #7e7f9a;
}

@media screen and (min-width: 650px) {
  .container button {
    font-size: 3rem;
    padding: 1.5rem;
  }

  .list {
    top: 6rem;
  }

  .list a:hover, .list a:focus {
    text-decoration: none;
    color: #f9f8f8;
    background-color: #7e7f9a;
  }

  .container button:hover, .container button:focus {
    text-decoration: none;
    color: inherit;
    color: #f9f8f8;
    background-color: #7e7f9a;
  }
}