.contact {
  text-decoration: none;
  color: #272838;
  font-size: 0.75rem;
  font-family: "Microsoft Sans Serif", sans-serif;
}

.footer {
  color: #272838;
  display: flex;
  justify-content: center;
  background-color: #f9f8f8;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (min-width: 650px) {
  .contact {
    font-size: 1rem;
  }
}
