.contact {
  text-decoration: none;
  color: #272838;
  font-size: 2vw;
  padding: 0.5vw;
  font-family: "MS Sans-serif", sans-serif;
}

.footer {
  color: #272838;
  display: flex;
  justify-content: center;
  background-color: #f9f8f8;
  overflow: hide;
  width: 100%;
}
