.gallery {
  display: flex;
  justify-content: center;
  max-height: 25%;
  width: 100%;
  overflow-x: auto;
}

.gallery button:hover {
  background-color: #944949;
}

.gallery img {
  height: 5rem;
  margin: 0.5rem;
}

.gallery img:hover {
  background-color: #944949;
  cursor: pointer;
}

.button {
  outline: none;
  border: none;
  background-color: #f9f8f8;
}
