.container-small {
  padding: 2vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #f9f8f8;
  overflow: hide;
}

// .nav-list-small {
//   // font-family: "Droid Sans Mono", monospace;
//   font-family: "MS Sans-serif", sans-serif;
//   // max-height: 50%;
//   //   margin-top: 3rem;
//   margin-bottom: 0rem;
//   display: flex;
//   list-style-type: none;
//   justify-content: center;
//   flex-wrap: wrap;
//   // font-size: 16px;
//   // font-size: 1rem;
// }

// .nav-item-small {
//   color: #272838;
//   font-size: 3vw;

//   // font-size: 1.5rem;
//   padding: 0.6rem;
//   margin-right: 0.5rem;
//   text-decoration: none;
// }

// .nav-item-small:hover {
//   color: #f9f8f8;
//   background-color: #7e7f9a;
// }

// .active-nav-item {
//   background-color: #272838;
//   color: #f9f8f8;
// }

// .title-small {
//   border: red solid 2px;
//   color: #272838;
//   font-size: 4vw;
//   text-decoration: none;
//   font-family: "MS Sans-serif", sans-serif;
// }

.a {
  color: #272838;
  margin-right: 2vw;
  font-size: 4vw;
  text-decoration: none;
  padding: 0;
  font-family: "MS Sans-serif", sans-serif;
}
