.container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  background-color: #f9f8f8;
  overflow: hide;
}

.a {
  color: #272838;
  font-size: 2rem;
  text-decoration: none;
  padding: 0;
}

.a:hover, .a:focus {
  text-decoration: underline;
}

.h1, .h2 {
  letter-spacing: 0.012em;
  color: #272838;
  margin: 0;
  font-family: "Microsoft Sans Serif", sans-serif;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 650px) {
  .container {
    padding: 1.5rem;
    justify-content: center;
  }
  .a {
    font-size: 3rem;
  }

  .h2 {
    padding-top: 0.25rem;
    font-size: 2rem;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }
}
