.container {
  padding: 2vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #f9f8f8;
  overflow: hide;
}

.a {
  color: #272838;
  margin-right: 2vw;
  font-size: 4vw;
  text-decoration: none;
  padding: 0;
  font-family: "MS Sans-serif", sans-serif;
}
