.footer {
    bottom: 0px;
    color: #272838;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:#F9F8F8;
    position: fixed;
    overflow: hide;
    width: 100vw;

}

.footer-text {
    font-size: 1rem;
    padding-top: 1.45rem;
    margin-right: 1.45rem;
    font-family: "Droid Sans Mono", monospace;
}

.contact {
    font-size: 1rem;
    margin-left: 1.45rem;
    font-family: "Droid Sans Mono", monospace;
}

.footer-text-small {
    margin-bottom: 0;
    font-size: .75rem;
    font-family: "Droid Sans Mono", monospace;
}

.contact-small {
    // margin-top: .5rem;
    margin-bottom: 0;
    font-size: .75rem;
    font-family: "Droid Sans Mono", monospace;
}

.footer-small {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0px;
    color: #272838;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F9F8F8;
    position: fixed;
    overflow: hide;
    width: 97vw;
}
