.footer {
    color: #272838;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-text {
    font-size: 1rem;
    margin-right: 1.45rem;
    font-family: "Droid Sans Mono";
}

.contact {
    font-size: 1rem;
    margin-left: 1.45rem;
    font-family: "Droid Sans Mono";
}
