
.container-small {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10vh;
    width: 100vw;
    background-color:#F9F8F8;
    position: fixed;
    top: 0;
    overflow: hide;
}

.nav-list-small {
    font-family: "Droid Sans Mono", monospace;
    max-height: 5vh;
    margin-top: 3rem;
    margin-bottom: 0rem;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item-small {
    color: #272838;
    font-size: 1.5rem;
    padding: .75rem;
    margin-right: .5rem;
    text-decoration: none;
}

.nav-item-small:hover {
    color: #F9F8F8;
    background-color: #7E7F9A;
}

.active-nav-item {
    background-color: #272838;
    color: #F9F8F8;
}

.title-small {
    margin-top: 1vh;
    margin-bottom: 5rem;
    padding-bottom: .5rem;
    color: #272838;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
}

.a {
    text-decoration: none;
    padding: 0;
    height: 4vh;
}

