.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    margin-top: 1.45rem;
    margin-right: 1.45rem;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-item {
    color: #272838;
    font-size: 1rem;
    padding: .8rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #F9F8F8;
    background-color: #7E7F9A;
}

.active-nav-item {
    background-color: #272838;
    color: #F9F8F8;
}

.title {
    margin-top: 1.45rem;
    margin-left: 1.45rem;
    color: #272838;
    font-size: 1.85rem;
    text-decoration: none;
    font-family: "Helvetica";
}

.dropbtn {
    color: #272838;
    font-size: 1rem;
    padding: .8rem;
    text-decoration: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F8F8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color:#272838;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    margin-top: .5rem;
    display: block;
}
  
.dropdown:hover .dropbtn {
    color: #F9F8F8;
    background-color: #7E7F9A;
}