.button {
    outline: none;
    border: none;
    background-color: #F9F8F8;
}

.container-small{
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-small {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0;
    z-index: -1;
    width: 90vw;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 12vh;
}

.container-small p {
    font-size: 1rem;
}

.content-small img,p {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 48vh;
    max-width: 90vw;
    margin-bottom: .5rem;
    align-self: center;
}

.content-small {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: fixed;
    top: 12vh;
}

.gallery-small {
    bottom: 10%;
    position: absolute;
    display: flex;
    overflow: auto;
}

.gallery-small img {
    height: 8vh;
    margin: .5rem;
}

.gallery-small img:hover {
    cursor: pointer;
} 


