.content {
    position: fixed; 
    margin-left: 0;
}

.content img {
    max-height: 75vh;
    max-width: 75vw;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    float: right;
}

.gallery img {
    width: 15vw;
    margin: 0.5rem;
}

.gallery img:hover {
    cursor: pointer;
} 