.content {
    position: fixed; 
    margin-left: 0;
}

.content img {
    max-height: 70vh;
    max-width: 70vw;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    float: right;
    margin-bottom: 5em;
    margin-top: 5em;
}

.gallery img {
    width: 15vw;
    margin: 0.5rem;
}

.gallery img:hover {
    cursor: pointer;
} 

.button {
    outline: none;
    border: none;
    background-color: #F9F8F8;
}